.contact-me{
	padding: 100px 0px;
	background-color: #f5f8fd;
}

.contact-me .section-title h1:before{
	left:30%;
}

.contact-me .contact-form{
	background-color: #ffffff;
	flex: 0 0 100%;
	padding:50px;
	border:1px solid #eeeeee;
}

.contact-me .contact-form .text{
	flex:0 0 100%;
	max-width: 100%;
	padding-bottom: 20px;
}

.contact-me .contact-form .text h2{
	font-size:26px;
	font-weight: 600;
	color:#000000;
	margin:0;
	padding:0;
}

.contact-me .contact-form .text p{
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: #838383;
	margin:0px;
}

.contact-me .contact-form .space-between{
	justify-content: space-between;
}

.contact-me .contact-form .col-6{
	flex: 0 0 calc(50% - 15px);
	max-width: calc(50% - 15px);
}

.contact-me .contact-form .col-12{
	flex: 0 0 100%;
	max-width: 100%;
}

.contact-me .contact-form .form-control{
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
	border:1px solid #ced4da;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.contact-me .contact-form textarea.form-control{
	height:140px;
}

.contact-me .contact-form .form-control::placeholder{
	color:#838383;
}

.contact-me .contact-form .button{
	flex: 0 0 100%;
	max-width:100%;
}

.contact-me .contact-form .button a{
	border-radius: 4px;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding: 12px 25px;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	transition: all .5s ease;
	background-color: #febd01;
	box-shadow: 0px 10px 15px #e8e8e8;
}

.contact-me .button a:hover{
	background-color: #000000;
	color:#ffffff;
}