@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

footer{
	padding:70px 15px;
	background-color: #0c0c17;
}

footer .logo{
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	font-size: 45px;
	color: #ffffff;
	font-weight: 900;
}

footer .social{
	flex: 0 0 100%;
	max-width: 100%;
	text-align: center;
	padding-top: 10px;
}

footer .social a{
	color: #999999;
	text-decoration: none;
	display: inline-block;
	margin:0px 12px;
	transition: all .5 ease;
	text-decoration:none;
}

footer .social a:hover{
	color:#ffffff;
}

/* Copyright */
.copyright{
	background-color: #0c0c17;
	border-top:1px solid #1d1d27;
	padding:15px;
}

.copyright p{
	color:#838383;
	margin:0;
	text-align:center;
	font-weight: 400;
	font-size: 15px;
}