@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.skills{
	padding: 100px 15px;
	background-color:#f5f8fd;
}

.skills .section-title{
	flex: 0 0 100;
	max-width: 100%;
	margin-bottom: 40px;
}

.skills .section-title h1{
	display: inline-block;
	font-size: 35px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000000;
	margin:0 0 5px;
	position: relative;
}

.skills .section-title h1:before{
	content: '';
	left:0;
	position: absolute;
	height:2px;
	right:30%;
	background-color: #febd01;
	bottom: 0px;
}

.text-uppercase{
	text-transform: uppercase!important;
}

.skills .skills-content{
	flex: 0 0 50%;
	max-width: 50%;
	padding-right:30px;
}

.skills .img{
	flex: 0 0 50%;
	max-width: 50%;
}


.align-items-center{
	align-items: center;
}

.skills .img img{
	width: 100%;
	display: block;
}

.skills .skills-content .section-title p{
	font-size: 15px;
	font-weight: 400;
	line-height:24px;
	color:#838383;
	margin:15px 0 0px;
}

.skills .skills-content .skill-box{
	flex: 0 0 100%;
	max-width: 100%;
	margin-bottom: 30px;
}

.skills .skills-content .skill-box h6{
	font-size: 16px;
	font-weight: 500;
	color:#000000;
	margin:0 0 8px;
}

.skills .skills-content .skill-box .skill-bar{
	height:5px;
	background-color: #eeeeee;
	position:relative;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in{
	background-color: #febd01;
	position: absolute;
	left:0;
	top:0;
	height:100%;
}

.skills .skills-content .skill-box .skill-bar .skill-bar-in span{
	color:#838383;
	font-size:16px;
	font-weight:400;
	position: absolute;
	right: 0;
	top: -30px;
}